* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #007bff;
}

/* Global Style */
.global {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.start_btn {
  /* display: none; */
}
/* Start quiz Button */
.start_btn button {
  font-size: 1.5625rem;
  font-weight: 500;
  color: #007bff;
  padding: 0.9375rem 1.875rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*  info-box */
.info_box {
  display: none;
  width: 34.75rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.info_box .info_title {
  height: 3.75rem;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 2.1875rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.info_box .info_list {
  padding: 0.9375rem 2.1875rem;
}

.info_box .info_list .info {
  margin: 0.3125rem;
  font-size: 1.0625rem;
}
.info_time {
  font-weight: 600;
  color: #007bff;
}

.info_box .buttons {
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.1875rem;
  border-top: 1px solid lightgrey;
  gap: 0.6rem;
}

.info_box .buttons button {
  height: 2.5rem;
  width: 6.25rem;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #007bff;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.buttons button.quit {
  color: #007bff;
}
.buttons button.quit:hover {
  background-color: #007bff;
  color: #fff;
  transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
}

.buttons button.restart {
  background: #007bff;
  color: #fff;
}
.buttons button.restart:hover {
  background-color: #0263ca;
  transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.15); */
}

/* ---------------------------------------------------------- */
/* Quiz Box */

.quiz_box {
  display: none;
  width: 90%;
  max-width: 34.375rem;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
}

.quiz_box header {
  position: relative;
  z-index: 99;
  height: 4.375rem;
  padding: 0 1.875rem;
  background-color: gold;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_box header .title {
  font-size: 1.25rem;
  font-weight: 600;
}

.quiz_box header .timer {
  display: flex;
  /*gap: 10px;
  */
  align-items: center;
  justify-content: space-between;
  width: 9.0625rem;
  height: 2.8125rem;
  background-color: #cce5ff;
  padding: 0 0.5rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.timer_bar {
  width: 100%;
  height: 5px;
  padding: 0 1.25rem;
  /* margin: 0 20px; Center the bar and add top and bottom margin */
  background-color: #76c7c0;
  transition: width 1s linear;
  border-radius: 5px;
}

.quiz_box header .timer .timer_text {
  font-weight: 400;
  font-size: 1.0625rem;
  user-select: none;
}

.quiz_box header .timer .timer_sec {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.125rem;
  height: 3.125rem;
  width: 2.8125rem;
  color: #fff;
  background-color: #343a40;
  text-align: center;
  line-height: 30px;
  /* border: 1px solid #343a40; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;

  user-select: none;
}

.quiz_box section {
  padding: 25px 30px 20px 30px;
}

.quiz_box section .que_text {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.quiz_box section .option_list {
  font-size: 20px;
  display: block;
}

section .option_list .option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
  border: 1px solid #84c5fe;
  padding: 8px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer !important;
  margin-bottom: 15px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.option_list .option:last-child {
  margin-bottom: 0px;
}

.option_list .option:hover {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.option_list .option .icon {
  height: 26px;
  width: 26px;
  /* pointer-events: none; */
}

.option_list .option .icon.tick {
  color: #23993c;
}

.option_list .option .icon.cross {
  color: #a42834;
}

/* Footer */
.quiz_box footer {
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.quiz_box footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}
footer .total_que span p:first-child {
  padding-left: 0px;
}

footer .next_btn {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

.quiz_box footer button {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

footer .next_btn:hover {
  background-color: #0263ca;
  transform: translateY(-5%);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
}

/* Reult Box */
.result_box {
  opacity: 0;
  z-index: -1;
  background-color: #fff;
  width: 450px;
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.result_box .icon {
  font-size: 100px;
  color: gold;
  margin-bottom: 10px;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
  margin: 10px 0;
}

.result_box .score_text span p {
  font-weight: 600;
}

/* .result_box .buttons button.quit {
  color: #007bff;
}

.result_box .buttons button.quit:hover {
  color: #fff;
} */

.result_box .buttons button {
  margin: 0 10px;
  height: 40px;
  padding: 0 20px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #007bff;
  cursor: pointer;
  /* color: #fff; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* check */
.correct {
  background-color: #9aeabc !important;
}

.incorrect {
  background-color: #ff9393 !important;
}

/* disable div */
.disabled {
  pointer-events: none;
  /* opacity: 0.6; */
}

/* Media Query */

@media (max-width: 768px) {
  .global {
    max-width: 90%;
  }

  .info_box {
    width: 90%;
  }

  .quiz_box {
    width: 90%;
    padding: 15px;
  }

  .start_btn button {
    font-size: 20px;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .quiz_box header .title {
    font-size: 18px;
  }

  .quiz_box section .que_text {
    font-size: 20px;
  }

  .option_list .option {
    font-size: 16px;
    padding: 5px 10px;
  }

  .result_box {
    width: 90%;
    padding: 15px;
  }
}
